html, body {
	scroll-behavior: smooth;
   background-color: #18191c;
}

::-webkit-scrollbar {
   display: none;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #a8bbbf;
   border-radius: 10px;
   border: 3px solid transparent;
   background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #a8bbbf;
}

.chakra-collapse[style*='height: auto'] {
   overflow: initial !important;
}